input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: solid 1.5px rgba(255, 255, 255, 0.7);
  position: relative;

  &:checked {
    background-color: #4682b4;
    border: solid 1.5px #4682b4;
  }

  &:not(:checked):hover {
    background-color: #333333;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    width: 6px;
    height: 12px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &:checked::after {
    display: block;
  }
}
